.title{
   font-size: 52px;
   max-width: 666px;
   margin-top: 8px ;
   font-family: var(--font-family);
    font-weight: 900;
    line-height: 123%;
    color: #fff;
}

.subtitle{
    margin: 12px 0 20px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}